.responsive-chart {
    width: 100%; /* Allow the chart to take full width */
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
    height: 50rem; /* Let the height adjust based on the width */
    position: relative;
  }
  
  .responsive-chart::after {
    content: "";
    display: block;
    padding-top: 56.25%; /* This gives the chart a 16:9 aspect ratio (height/width * 100) */
  }
  
  .responsive-chart .p-chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }