/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --p-checkbox-background: white;
    --p-checkbox-border-color: gray;
    --p-checkbox-input: black;
    --p-checkbox-icon: purple;
    --p-checkbox-width: 24px;
    --p-checkbox-height: 24px;

    --p-datatable-body-cell-border-color:white;

    

  }